{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<br>
<h2 class="green-text">Open your first portal <a class="green-link" href="{% url 'portal_hub' %}">here ...<img
        width="30"
        height="30"
        src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fc4e765d-760d-45dc-9f31-58d1bd0eb872/dc4z89w-641684e2-15ca-497b-b5ca-c331e7e055b6.png/v1/fill/w_894,h_894/rick_and_morty_portal_1___free_download_by_loaf_of_muffin_dc4z89w-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2ZcL2ZjNGU3NjVkLTc2MGQtNDVkYy05ZjMxLTU4ZDFiZDBlYjg3MlwvZGM0ejg5dy02NDE2ODRlMi0xNWNhLTQ5N2ItYjVjYS1jMzMxZTdlMDU1YjYucG5nIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.5PeSWIoX1cFhDXi8nbPstLGpqjyYC0D9r5rBPrjKbh0"
        alt=""> </a>
</h2>


<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/16504dcc-bd8f-4c0e-9852-3b36a0e20642/dbg2oqe-df336ebb-14d3-457d-a918-09e99044ba18.png/v1/fill/w_901,h_887/rick_and_morty_portals_by_therawrnessify_dbg2oqe-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAwOSIsInBhdGgiOiJcL2ZcLzE2NTA0ZGNjLWJkOGYtNGMwZS05ODUyLTNiMzZhMGUyMDY0MlwvZGJnMm9xZS1kZjMzNmViYi0xNGQzLTQ1N2QtYTkxOC0wOWU5OTA0NGJhMTgucG5nIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.8GfmYBzl5KISd7gHem8BFrNJQAcatjaa-h170E8H4AA"
     alt="">
{% endblock %}