{% extends 'base.html' %}
{% block title %} Proxy {% endblock %}
{% block content %}

<form class="form-group" method="POST" action="">
    {% csrf_token %}
    <div class="container">
        <br>
        <div class="form-group">
            <label for="website">What you want open?</label>
            <input type="text" class="form-control" id="website" name="website" placeholder="https://example.com"
                   required>
        </div>
        <div class="form-group">
            <label for="portal_name">What you want open?</label>
            <input type="text" class="form-control" id="portal_name" name="portal_name"
                   placeholder="Your portal name here..." required>
        </div>

        <button type="submit" class="btn btn-dark">Submit</button>
    </div>
</form>
<div class="container">
    {% for portal in portals %}
    <div class="alert alert-dark" role="alert">
        <a href="{% url 'proxy_more' website=portal.domain %}">{{portal.portal_name }}</a> {{ portal.data_volume }} MB
    </div>
    {% endfor %}
</div>
{% endblock %}